<div  class="search-food-container m-1" >
  <input #searchBox type="text" id="search-box" class="form-control form-control-lg" (keyup)="search(searchBox.value)" placeholder="Search for food..">
  <div tabindex="0" class="search-result-list" *ngIf="searchBox.value" >
    <a href="#addEntry" *ngFor="let f of foods | async" class="search-result d-block" (click)="setSelected(f);searchBox.value = '';" >
       {{f.name}} - {{f.brand | titleCase  }}  <!-- title case custom pipe just for demo.. -->
    </a>
    <a href="#addNew" class="search-result d-block" (click) = "searchBox.value = '';addNewFood();">
      <strong>Add New...</strong>
    </a>
  </div>
</div>