<div *ngIf="food" class="form-inline add-entry-form">

  <label for="servingSize" class="">{{food.name}}</label>
  <div class="input-group">

      <input #servings id="servingSize" value="{{food.servingSize}}" class="form-control"
               placeholder="servings consumed - {{food.servingUnit}} per serving" >

      <span class="input-group-btn">
          <button (click)="addEntry(food, servings.value)" class="btn btn-primary">Add</button>
      </span>



  </div>
  <button (click)="cancel" class="btn btn-secondary">Cancel</button>
</div>